<div class="form-container">
  <h1>Register A New User</h1>
  <form is="signup-form" method="POST" action="/api/users">
    <h2>Enter new user details</h2>
    <div class="form-error-message"></div>
    <div class="form-control">
      <label for="email" class="form-control-label">
        Email
      </label>
      <input
        type="text"
        name="email"
        id="email"
        class="form-control-input"
        required
      />
      <div class="form-control-error-message"></div>
    </div>

    <div class="form-control">
      <label for="password" class="form-control-label">
        Password
      </label>
      <input
        type="password"
        name="password"
        id="password"
        class="form-control-input"
        required
      />
      <div class="form-control-error-message"></div>
    </div>

    <div class="form-control">
      <label for="name" class="form-control-label">
        Name
      </label>
      <input
        type="text"
        name="name"
        id="name"
        class="form-control-input"
        required
      />
      <div class="form-control-error-message"></div>
    </div>

    <div class="form-control">
      <label for="address" class="form-control-label">
        Address
      </label>
      <textarea
        name="address"
        id="address"
        class="form-control-input"
        required
      ></textarea>
      <div class="form-control-error-message"></div>
    </div>
    <button type="submit" class="form-submit-button">Sign Up</button>
  </form>
</div>

<script type="module" src="/public/signup-page.js"></script>
